.ant-card-body {
  padding: 0;
}

.ant-card-meta-title {
  font-size: 14px;
  color: #6f5f67;
}

.ant-list-item-meta-title {
  color: #6f5f67;
}

.ant-list-split .ant-list-item {
  border: 1px solid #ecedf0;
  margin: 10px; 
}

.ant-list-item {
  padding: 10px 20px;
  border: 1px solid #ecedf0 !important;
}

.ant-list-item:hover {
  cursor: pointer;
  border: 1px solid #54b2d3 !important;
  color: #54b2d3 !important;
}
#scrollableDiv{
  border: none !important;
}
.active-element{
  border-color: #40a9ff !important;
}
.on-hover:hover{
  border-color: #40a9ff;
}
.card-name{
  font-size: 20px;
  line-height: 24px;
  color: #3d3d46;
  margin-right: 5px;
}
.price{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #65cd98;
    text-align: right;
}
.review-span{
  font-size: 16px;
    line-height: 20px;
    color: #737387;
    margin-left: 13px
}

.time{
  font-size: 16px;
    line-height: 20px;
    color: #737387;
}